html,
body,
div,
header,
main,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
span {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #d7dbdd;
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
